  {# src/Triv/CoreBundle/Resources/views/Home/menu.html.twig #}

  {# Ce template n'hérite de personne, tout comme le template inclus avec {% include %}. #}
         
	   	   
  <div class="row">
    	<div class="span2">
        </div>		
		    
			<div class="span9">
					  <p class="btn btn_"> MEMBRES : {{nbMembre}}   - nombre de commentaires : {{nbCom}}  -   nombre d'animes : {{nbAnimes}}  - nombre d'episodes : {{nbep}}  - nombre de Quizz : {{nbQuizz}} </p>
               </div>	
		 </div>		   
				 