{# src/Triv/AnimesBundle/Resources/views/Animes/form5.html.twig #}


{# Le formulaire reste inchangé #}
<h3>Formulaire d'edition d'un episode</h3>

<div  class="row">
   <div class="span4">

   </div>
   
   <div class="span6">
   
   <div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
     

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

	
	 <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.title, "titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.title) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	<div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.src, "src", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.src) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.src, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	 
	  <div class="form-group">
      {{ form_label(form.epversion, "epversion", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.epversion) }}
      <div class="col-sm-4">
        {{ form_widget(form.epversion, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	
  {# Génération du label + error + widget pour un champ #}
 
  
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <p>&nbsp; {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_widget(form.effacer, {'attr': {'class': 'btn btn-primary'}}) }}
  </p>
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  
  
  {{ form_end(form) }}
 
</div>

   </div>
   
   

</div>
