{# src/Triv/AnimesBundle/Resources/views/Animes/form2.html.twig #}


{# Le formulaire reste inchangé #}
<h3>Formulaire d'edition d'un anime</h3>

<div  class="row">
   <div class="span4">

   </div>
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
     

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

	
	 <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.image, "image de l'anime", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.image) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	 <div class="form-group">
      {{ form_label(form.auteur, "auteur de l'anime", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.auteur) }}
      <div class="col-sm-4">
        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	 
	  <div class="form-group">
      {{ form_label(form.genre, "genre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.genre) }}
      <div class="col-sm-4">
        {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	 <div class="form-group">
      {{ form_label(form.datesortie, "date de sortie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.datesortie) }}
      <div class="col-sm-4">
        {{ form_widget(form.datesortie, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	 <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.initial, "initial de l'anime", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.initial) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.initial, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.titre, "Titre de l'anime", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.titre) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

	
	
    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.synopsi, "synopsi de l'anime", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.synopsi) }}
      <div class="col-sm-4">
        {{ form_widget(form.synopsi, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
 
	

  {# Génération du label + error + widget pour un champ #}
 
  
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <p>&nbsp; {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_widget(form.effacer, {'attr': {'class': 'btn btn-primary'}}) }}
  </p>
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  
  
  {{ form_end(form) }}
 
</div>
</div>
